<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button class="btn btn-dark">Register</button>
          </form>

          <script>
            const form = document.querySelector('form');
            form.addEventListener('submit',async function(e){
              e.preventDefault();
              const email = form.email.value;
              const password = form.password.value;

              try{
                 const res = await fetch('/register',{
                  method: 'POST',
                  body: JSON.stringify({email,password}),
                  headers: { 'Content-Type': 'application/json'}
                 });
                 console.log(res);
                   //const data = await res.json();
                   //console.log(data);
                  // console.log(data.errors);
                if(res.status==201){
                  console.log('user created');
                  location.assign('/submit')
                }
                else {
                  console.log("user already exits");
                }
              }
              catch{
                  console.log("error occurred");
              }
             
            })
          </script>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/header') %>
